$White: white;
$SubTitle: #535353;
$BgGray: #ededed;
$HeaderBorderColor: #75787b;
$BtnTextColor: #333;
$QuestionNumberColor: #212121;
$SelectBorderColor: #9e9e9e;
$SelectBgColor: #fafafa;
$RadioButtonColor: #f4f4f4;
$RadioButtonCheckedColor: #3197ee;
$BorderBottomColor: #e0e0e0;

$contentMaxWidth: 1070px;
