/* トップ画面 */

@charset "UTF-8";

/* *****共通設定***** */

a { color: #696969; }
a:hover { color: #a9a9a9; }
.bg-primary,
.btn-primary { background-color: #00008b !important; }
.border-primary { border-color: #00008b !important; }
.bg-maincolor { background-color: #f0f8ff !important; }
.btn-warning:hover {
  color: #212529;
  background-color: #ffa500;
  border-color: #ffa500;
}
.bg-yl-color { background-color: #fffaf0 !important; }
.text-shadow { text-shadow: 1px 1px 3px #000; }
.font-patrick { font-family: 'Fredericka the Great', cursive; }

/* body部分 */

header{
  background-image: url(/img/SE2_header2.png);
  height: 100px;
  padding: 2px auto;
}

header img{
  margin: auto;
}

.main-top{
  background-image: url(/img/SE2_Top.png);
}

/* ロード画面 */
.start{
  background-color: rgba(0, 255, 242, 0.877);
  position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
  z-index: 10;
}
.start-inner{
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  z-index: 100;
}

/* フッター */
#footer{
  background-image: url(/img/SE2_footer_image2.png);
  background-size: 100% 100%;
}
#footer-sns img {
  height: 58px;
  width: auto;
  margin-right: 25px;
}
#footer-index ul ul {
  padding-left: 0.75rem;
  border-left: 1px solid #6c757d;
}

@media (max-width: 991.98px) {
  /* md タブレット・スマートフォン向け */

  #nav02 .nav-item {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dee2e6;
    letter-spacing: 0.25rem;
  }
}

@media (max-width: 575.98px) {
  /* xs スマートフォン向け */
  .start-inner img{
    width: 120%;
    height: 120%;
  }
  /* フッター */
  #footer-sns img {
    height: 29px;
    margin-right: 15px;
  }
}